html {
	scroll-behavior: smooth;
}

.row {
	margin: 0;
}

header {
	padding-top: 0;
}

nav {
	justify-content: center;
	background-color: rgb(0, 0, 155);
	padding: 1em 0;
	margin: 0;
	position: relative;
	min-height: 100px;
	max-height: 100vh;
}

nav * {
	font-size: 1em;
	color: white;
	text-shadow: none;
	position: relative;
}

/* Navigation https://uxdesign.cc/the-menu-210bec7ad80c */
.menu {
	display: flex;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.line {
	fill: none;
	stroke: white;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}
.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened + ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 70px;
	height: calc(100vh - 120px);
}

.menu:not(.opened) + ul {
	margin-top: -400px;
}

nav ul li {
	list-style-type: none;
}

nav a:hover {
	color: rgb(240, 230, 188);
}

@media only screen and (min-width: 800px) {
	.menu {
		display: none;
	}

	nav {
		align-content: center;
	}

	nav > * {
		font-size: 1.25em;
	}

	.row .menu + ul {
		display: flex;
		flex-direction: row;
		margin-top: 0;
	}

	.menu + ul li {
		margin: 0 1em;
	}
}

header h1 {
	margin-top: 30px;
}

header h1,
section h2,
#About p {
	color: black;
}

nav a:hover {
	text-decoration: none;
}

ul.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.project-list li p:first-of-type {
	font-weight: bold;
	text-align: center;
}

.project-list > li {
	display: flex;
	flex-direction: column;
	flex: 1 1 40%;
	text-align: left;
	list-style-type: none;
	margin: 1em 2em;
	padding: 1em;
	box-sizing: content-box;
	background-color: rgba(200, 200, 200, 0.8);
	color: black;
}

.project-list > li .skills-stack {
	margin: 1em 0;
}

.project-list .description + * {
	clear: left;
}

#container .project-list li img {
	object-fit: contain;
	height: 150px;
	margin-right: 1em;
}

#container ul li a {
	text-decoration: none;
}

/** Skill Stack */

.skills-stack li {
	list-style-type: none;
	display: inline-block;
	background-color: beige;
	padding: 1em;
	text-align: center;
	margin-top: 10px;
}

.social-media-container {
	display: flex;
	justify-content: center;
	font-size: 3em;
}

.social-media-container a {
	height: 100px;
	margin-left: 10px;
}
