#projects > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#projects > div.project-type > div {
	margin: 10px;
	width: 250px;
}

.project-list li {
	list-style-type: none;
	width: 150px;
	height: 170px;
	margin: 1em 2em;
	padding: 0;
	box-sizing: content-box;
	background-color: white;
	perspective: 1000px;
}

.project-list li:not(.show-info) .front p {
	height: 20px;
	margin: 0;
	padding: 0;	
}

#container .project-list li img {
	background-color: white;
	object-fit: contain;
	height: 150px;
}

#container ul li a {
	text-decoration: none;
}

/** https://davidwalsh.name/css-flip */

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
	width: 100%;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: black;
	color: white;
}

.tooltip {
	visibility: hidden;
	opacity: 1;
	background-color: beige;
	color: black;
	padding: 1em;
	left: 150px;
	min-width: 200px;
	top: 0;
}

.flip-container:hover .tooltip {
	visibility: visible;
}

/** Skill Stack */

.skills-stack li {
	list-style-type: none;
	display: inline-block;
}
