<div id="Projects">
    <h2>Projects</h2>
    <ul class='d-flex p-2 flex-wrap project-list'>
        {{#each projectData}}
        {{#unless category "Tutorial"}}
        <li id="project-{{removeSpaces name}}">
            {{> cardFront}}
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>